.pageItem {
    border: 1px solid black;
    background-color: white;
    margin: 1rem;
    width: 30%;
    flex-shrink: 0;
    overflow: hidden;
}

.pageList {
    padding: 2rem;
}

.pageText { 
    padding: 0.6rem;
}